/* General Layout */
.home-container {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0b141a, #202c33);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Hero Section */
.hero {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
    /* Responsive */
    text-align: center;
}

.logo {
    color: #25D366;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-text {
    max-width: 500px;
    margin-bottom: 40px;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #25D366;
}

.hero-text p {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.5;
    color: #ddd;
}

.cta-btn {
    padding: 12px 24px;
    background: #25D366;
    color: #121212;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;
    display: inline-block;
}

.cta-btn:hover {
    background: #1da851;
}

/* Hero Image */
.hero-image img {
    width: 280px;
    max-width: 100%;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h2 {
        font-size: 28px;
    }

    .hero-image img {
        margin-top: 20px;
    }
}